<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WCFPoc.Client.ConsoleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
                <binding name="BasicHttpBinding_IServiceTest" />
                <binding name="BasicHttpBinding_ITissRecursoGlosaBinding" />
                <binding name="WebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50648/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="asdf123.IService"
                name="BasicHttpBinding_IService" />
            <endpoint address="http://localhost:50648/ServiceTest.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceTest" contract="ServiceReference1.IServiceTest"
                name="BasicHttpBinding_IServiceTest" />
            <endpoint address="http://localhost:50648/ServiceTest.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITissRecursoGlosaBinding"
                contract="ServiceReference1.ITissRecursoGlosaBinding" name="BasicHttpBinding_ITissRecursoGlosaBinding" />
            <endpoint address="http://localhost:50648/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap" contract="WebService.WebServiceSoap"
                name="WebServiceSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <WCFPoc.Client.ConsoleApp.Properties.Settings>
            <setting name="WCFPoc_Client_ConsoleApp_localhost_Service" serializeAs="String">
                <value>http://localhost:50648/Service.svc</value>
            </setting>
        </WCFPoc.Client.ConsoleApp.Properties.Settings>
    </applicationSettings>
</configuration>